@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.menu-gradient {
  background: #2D3436;
  background: -webkit-linear-gradient(to right,
      #111111, #2D3436);
  background: linear-gradient(to right,
      #111111, #2D3436);
}